

.usa {
  font-family:Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size:1.06rem;
  line-height:1.5;
  background-color:red;
}

.box {
  font-size: 16px;
  text-align: center;
}